/* Grundinställningar */
body {
    background-color: #ffffff; 
    color: #ffffff;            
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 
}

/* --- NAVIGATIONEN (HEADER) --- */
header {
    /* Layout */
    display: flex;
    justify-content: center; 
    align-items: center;  
    background-color: #000000; 
    height: 60px;            
    position: relative;      
    
    /* DEN SVARTA LINJEN */
    border-bottom: 2px solid #000000; 
}

/* --- LOGOTYPEN --- */
.logo {
    position: absolute;    
    left: 30px;             
    
    font-weight: 800;
    font-size: 20px;
    letter-spacing: -1px;
}

/* --- MENY-LÄNKARNA --- */
nav {
    display: flex;
    gap: 20px;               
}

nav a {
    text-decoration: none;
    color: #fff9f9;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 16px;      
    border: 1px solid transparent; /* Osynlig ram från början */
    transition: all 0.3s ease;     /* Mjuk animation */
}

/* Hover-effekt  */
nav a:hover {
    color: #00a82d;          
    border: 1px solid #00a82d; 
    background-color: #f0fff4; 
    box-shadow: 0 0 5px rgba(0, 168, 45, 0.2); 
}

/* Active-effekt */
nav a:active {
    background-color: #00a82d;
    color: #ffffff;
}